<!doctype html>
<html lang="en">
<head>
	<base href="{{ _uri }}"></base>
	<meta charset="utf-8">
	<title>{{ _title }}</title>

	<!-- css files -->
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<h1>Welcome to the {{ _title }}</h1>
	<span>{{ _desc }}</span>

	<!-- js files -->
	<script type="text/javascript" src="js/libs/jquery/jquery.js"></script>
	<script type="text/javascript" src="js/libs/underscore/underscore.js"></script>
	<script type="text/javascript" src="js/libs/backbone/backbone.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>